* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

header {
    position: relative;
    height: 100px;
    padding: 0 20px;
    background: rgb(253, 127, 52);
    background: linear-gradient(250deg, rgba(253, 127, 52, 1) 0%, rgba(189, 21, 91, 1) 100%);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-form {
    position: relative;
    margin-right: 50px;
    display: inline-block;
}

.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #fafafa;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fafafa;
    font-size: 20px;
}

.search-field:focus {
    outline: none;
}

.btn-search {
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    right: 0;
    cursor: pointer;
}

.btn-cart {
    text-decoration: none;
    color: #6b5770;
    font-size: 20px;
    background-image: linear-gradient(90deg, #fd7f34, #bd155b);
    display: block;
    padding: 14px 30px;
    border: 5px solid black;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}

.btn-delete {
    color: white;
    font-size: 40px;
    background-color: black;
    padding: 15px 20px;
    border-radius: 14px;
    margin: auto 0;
    cursor: pointer;
}

.btn-delete:hover,
.btn-delete:focus {
    opacity: 0.5;
}

.basket {
    position: absolute;
    border-radius: 0px 0px 20px 20px;
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 25px;
    top: 100%;
    width: 500px;
    z-index: 1;
}

.basket__basket-item {
    margin: 20px 0;
}

.basket__btn-clear {

}

.basket-item {
    display: flex;
    justify-content: space-between;
}

.basket-item__img {
    display: block;
    width: 200px;
    height: 150px;
}

.basket-item__wrp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.basket-item__title {
    font-size: 20px;
    text-align: center;
}

.basket-item__totalPrice {
    font-size: 19px;
    font-weight: 900;
}

.btn-cart:before {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -2;
    transition: .4s;
    border-radius: 5px;
}

.btn-cart:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #fff, #fff);
    z-index: -1;
    transition: .4s;
    border-radius: 4px;
}

.btn-cart:hover,
.btn-cart:focus {
    color: #fff;
    transition: .3s;
}

.btn-cart:hover:after,
.btn-cart:focus:after {
    background: linear-gradient(90deg, #fd7f34, #bd155b);
}

.btn-cart:active:after {
    background: linear-gradient(90deg, #d96d2d, #760f3a);
}

.btn-cart:focus-visible {
    box-shadow: 0 0 0 3px #030303;
}

main {
    padding: 20px calc(50% - 40%);
}

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.product-item {
    max-width: 400px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.product-item__img {
    min-height: 300px;
}

.product-item__title {
    text-align: center;
    font-size: 45px;
    margin: 0 auto 20px;
}

.product-item__text {
    margin: 20px 0;
    font-size: 29px;
}

.product-item__price {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: #861e49;
}

.product-item__btn {
    margin: 15px auto 0;
}