<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/style.css">
    <title>Интернет-магазин</title>
</head>

<body>
    <!--Вешаю id для индефикация блока при создание объекта new Vue в .js-->
    <div id="app">

        <header>
            <!--При отправке формы вызываем метод filter()-->
            <form action="#" class="search-form" @submit="filter()">
                <!--Синхронизируем введенные значения в input со свойством userSearch-->
                <input type="text" class="search-field" v-model="userSearch">
                <button class="btn-search" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </form>
            <!--Добавляю событие @click на кнопку и меняем значение свойства showBasket-->
            <button class="btn-basket btn-cart" type="button" @click="showBasket = !showBasket">Корзина</button>
            <!--Вешаю встроенную функцию v-show показа/скрытия блока корзины по значению true/false свойства showBasket-->
            <div class="basket" v-show="showBasket">
                <!--Перебираю свойство(массив) basketGoods и присваиваю элементы массива в переменной cart, дальше строится html по шаблону дочерних тегов. Так же используется key с уникальным свойством каждого cart-->
                <div class="basket__basket-item basket-item" v-for="cart of basketGoods" :key="cart.id_product">
                    <!--Использую v-if. Будет использоваться этот блок если у cart есть свойство img (cart.img(true)) -->
                    <img class="basket-item__img" :src="cart.img" :alt="cart.product_name" height="100px"
                        v-if="cart.img">
                    <!--Иначе v-else. Где используется свойство stubImg(заглушка для img)-->
                    <img class="basket-item__img" :src="stubImg" :alt="cart.product_name" height="100px" v-else>
                    <div class="basket-item__wrp">
                        <!--Вставляю название из cart-->
                        <h3 class="basket-item__title">{{cart.product_name}}</h3>
                        <!--Вставляю цену из cart-->
                        <p class="basket-item__price">Цена за шт.: {{cart.price}} $</p>
                        <!--Вставляю количество из cart-->
                        <p class="basket-item__volume">Количество: {{cart.quantity}} шт.</p>
                        <!--Вычисляем общую сумму-->
                        <p class="basket-item__totalPrice">Общая цена: {{cart.price * cart.quantity}} $</p>
                    </div>
                    <!--Вешаю на кнопку событие @click, после которого запускается метод deleteProduct() и передаю в него данный cart-->
                    <button class="basket-item__btn btn-delete" type="button" @click="deleteProduct(cart)">X</button>
                </div>
                <!--Вешаю на кнопку событие @click, после которого запускается метод clearBasket()-->
                <button class="basket__btn-clear btn-cart" type="button" @click="clearBasket()">Очистить
                    корзину</button>
            </div>
        </header>

        <main>
            <!--Проверяю v-if на длину свойства(массив) filtered. Если >0(true) используется следующий шаблон html дочерних тегов  -->
            <div class="products" v-if="filtered.length">
                <!--Перебираю свойство(массив) filtered и присваиваю элементы массива в переменной product, дальше строится html по шаблону дочерних тегов. Так же используется key с уникальным свойством каждого product-->
                <div class="product-item" v-for="product of filtered" :key="product.id_product">
                    <!--Вставляю название из product-->
                    <h3 class="product-item__title">{{product.product_name}}</h3>
                    <!--Использую v-if. Будет использоваться этот блок если у product есть свойство img (product.img(true)) -->
                    <img class="product-item__img" :src="product.img" :alt="product.product_name" height="300px"
                        v-if="product.img">
                    <!--Иначе v-else. Где используется свойство stubImg(заглушка для img)-->
                    <img class="product-item__img" :src="stubImg" :alt="product.product_name" height="300px" v-else>
                    <!--Использую v-if. Будет использоваться этот блок если у product есть свойство text (product.text(true)) -->
                    <p class="product-item__text" v-if="product.text">{{product.text}}</p>
                    <!--Иначе v-else. Где используется свойство stubText(заглушка для text)-->
                    <p class="product-item__text" v-else>{{stubText}}</p>
                    <!--Вставляю цену из product-->
                    <p class="product-item__price">{{product.price}} $</p>
                    <!--Вешаю на кнопку событие @click которое запускает метод addProduct() и передает в качестве параметра данный product-->
                    <button class="product-item__btn btn-cart" type="button"
                        @click="addProduct(product)">Купить</button>
                </div>
            </div>
            <!--Иначе использовать данный шаблон-->
            <div class="products" v-else>
                <!--Перебираю свойство(массив) products и присваиваю элементы массива в переменной product, дальше строится html по шаблону дочерних тегов. Так же используется key с уникальным свойством каждого product-->
                <div class="product-item" v-for="product of products" :key="product.id_product">
                    <h3 class="product-item__title">{{product.product_name}}</h3>
                    <img class="product-item__img" :src="product.img" :alt="product.product_name" height="300px"
                        v-if="product.img">
                    <img class="product-item__img" :src="stubImg" :alt="product.product_name" height="300px" v-else>
                    <p class="product-item__text" v-if="product.text">{{product.text}}</p>
                    <p class="product-item__text" v-else>{{stubText}}</p>
                    <p class="product-item__price">{{product.price}} $</p>
                    <button class="product-item__btn btn-cart" type="button"
                        @click="addProduct(product)">Купить</button>
                </div>
            </div>
        </main>
    </div>
    <!--Подключаю иконочный шрифт-->
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <!--Подключаю Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--Подключаю свой JS файл-->
    <script src="js/main.js"></script>

</body>

</html>