@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-regular.woff2") format("woff2"), url("../fonts/lato-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-italic.woff2") format("woff2"), url("../fonts/lato-italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-light.woff2") format("woff2"), url("../fonts/lato-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-black.woff2") format("woff2"), url("../fonts/lato-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.bg-white-light {
  background-color: #F8F8F8 !important;
}

.carousel-control-prev-my,
.carousel-control-next-my {
  position: absolute;
  top: 45%;
  bottom: 48%;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  outline: 0;
  text-decoration: none;
}

.carousel-control-prev-my:hover > .icon,
.carousel-control-prev-my:focus > .icon,
.carousel-control-next-my:hover > .icon,
.carousel-control-next-my:focus > .icon {
  color: #F26376;
}

.carousel-control-prev-my {
  left: 0;
}

.carousel-control-next-my {
  right: 0;
}

.carousel-img {
  width: 100%;
  max-width: 597px;
}

.btn-transparent {
  color: #222222;
  text-transform: uppercase;
}

.btn-transparent:hover {
  color: #FFFFFF;
  background-color: #F26376;
}

.btn-check:focus + .btn-transparent,
.btn-transparent:focus {
  color: #FFFFFF;
  background-color: #F26376;
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

.btn-check:checked + .btn-transparent,
.btn-check:active + .btn-transparent,
.btn-transparent:active,
.btn-transparent.active,
.show > .btn-transparent.dropdown-toggle {
  color: #222222;
  background-color: #565e64;
  border-color: #51585e;
}

.btn-check:checked + .btn-transparent:focus,
.btn-check:active + .btn-transparent:focus,
.btn-transparent:active:focus,
.btn-transparent.active:focus,
.show > .btn-transparent.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
}

.btn-transparent:disabled,
.btn-transparent.disabled {
  color: #222222;
  background-color: #6c757d;
  border-color: #6c757d;
}

.page-link {
  padding: 0.375rem 0.45rem;
}

.fs-tablet-mob {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 450px) {
  .fs-tablet-mob {
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    font-style: normal;
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #222222;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 40%;
  left: 11%;
  width: 75%;
  min-height: 27%;
  text-align: center;
  font-size: 40px;
  background-color: red;
  border-radius: 25px;
  border: 16px solid;
  z-index: 3;
}

.error button {
  width: 80px;
  height: 42px;
}

.basket {
  position: absolute;
  border-radius: 0px 0px 20px 20px;
  background-color: whitesmoke;
  border: 2px solid black;
  padding: 25px;
  top: 165%;
  right: 0;
  max-width: 500px;
  z-index: 3;
}

.basket__basket-item {
  margin: 20px 0;
}

.basket-item {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.basket-item__img {
  display: block;
  width: 140px;
  height: 150px;
}

.basket-item__wrp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.basket-item__title {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

.basket-item__totalPrice {
  font-size: 19px;
  font-weight: 900;
}

.container {
  width: 71.25%;
  margin: auto;
  padding: 0;
}

@media (max-width: 767px) {
  .container {
    width: 95.5%;
  }
}

@media (max-width: 375px) {
  .container {
    width: 91.5%;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1350px) {
  .flex {
    flex-direction: column;
  }
}

.link:hover,
.link:focus {
  color: #ff0000;
  cursor: pointer;
  outline: none;
}

.link:active {
  color: #9F9F9F;
}

.button:hover,
.button:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.button:active {
  opacity: 0.7;
}

.input:hover,
.input:focus {
  outline: 0 solid #F26376;
  background: #F1E4E6;
  cursor: pointer;
}

.icon {
  color: #222222;
  font-size: 21px;
  background-color: #E1E1E1;
  padding: 12px 18px;
}

.header {
  background-color: #222222;
}

.header__wrp {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  align-items: center;
}

.header__flex {
  display: flex;
  position: relative;
}

.header__logo {
  margin: 0 41px 0 0;
}

@media (max-width: 375px) {
  .header__logo {
    margin: 0 24px 0 0;
  }
}

.header__logo:focus {
  opacity: 0.5;
  cursor: pointer;
  outline: none;
}

.header__form {
  display: flex;
  width: 28px;
  position: relative;
}

.header__form:before {
  content: '';
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50%;
  transform: translate(0, -50%);
  background-image: url(../img/ic/loupe-ic.svg);
  background-size: 28px 28px;
}

.header__form:hover .header__search,
.header__form:focus .header__search {
  display: block;
}

.header__search {
  display: flex;
  border: none;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  height: 30px;
  border-radius: 17px;
  width: 239px;
  padding: 0 35px;
}

@media (max-width: 573px) {
  .header__search {
    width: 150px;
  }
}

@media (max-width: 375px) {
  .header__search {
    width: 144px;
    padding: 0 0 0 27px;
  }
}

.header__button {
  border: none;
  background-color: transparent;
}

.header__button:hover + .header__nav,
.header__button:focus + .header__nav {
  display: block;
}

.header__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  background-image: url(../img/ic/close-ic.svg);
  background-size: 100%;
}

.header__link {
  margin: 0 0 0 34px;
}

@media (max-width: 450px) {
  .header__link {
    display: none;
  }
}

.header__nav {
  z-index: 3;
  display: none;
  position: absolute;
  top: 53px;
  left: 0;
  height: 765px;
  width: 230px;
  padding: 35px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  box-shadow: 0 0 21px #00000066;
}

@media (max-width: 1350px) {
  .header__nav {
    left: -46px;
    height: 632px;
  }
}

@media (max-width: 450px) {
  .header__nav {
    left: -178px;
  }
}

.header__title {
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 24px;
}

.nav-sub__title {
  color: #F26376;
  text-transform: uppercase;
  text-decoration: none;
}

.nav-sub__title:hover, .nav-sub__title:focus {
  text-decoration: underline;
}

.nav-sub__list {
  margin: 12px 20px 20px;
}

.nav-sub__item {
  margin: 11px 0;
}

.nav-sub__link {
  color: #9F9F9F;
  text-decoration: none;
}

.brand {
  display: flex;
  margin: 0 0 64px 0;
}

@media (max-width: 767px) {
  .brand {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 573px) {
  .brand {
    min-height: 370px;
    margin: 0 0 64px 0;
  }
}

.brand__img {
  width: 50%;
  object-fit: cover;
  max-width: 800px;
}

@media (max-width: 767px) {
  .brand__img {
    min-height: 370px;
    width: 50%;
    object-fit: cover;
  }
}

@media (max-width: 573px) {
  .brand__img {
    display: none;
  }
}

.brand__title-wrp {
  background-color: #F1E4E6;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 0 0 0 92px;
}

@media (max-width: 375px) {
  .brand__title-wrp {
    justify-content: center;
    padding: 0;
  }
}

.brand__title {
  position: relative;
  z-index: 1;
  font-size: 48px;
  line-height: 58px;
  font-weight: 900;
  font-style: normal;
  text-transform: uppercase;
  animation: tracking-in-expand 2.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .brand__title {
    font-size: 44px;
    line-height: 52px;
    font-weight: 900;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .brand__title {
    font-size: 38px;
    line-height: 45px;
    font-weight: 900;
    font-style: normal;
  }
}

.brand__title:before {
  position: absolute;
  content: '';
  background-color: #F26376;
  top: 0px;
  left: -25px;
  bottom: 0px;
  width: 12px;
}

.brand__subtitle {
  display: block;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 767px) {
  .brand__subtitle {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .brand__subtitle {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
  }
}

.brand__subtitle-pink {
  color: #F26376;
}

.page-name {
  background-color: #F1E4E6;
  height: 148px;
  display: flex;
}

.page-name__wrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 573px) {
  .page-name__wrp {
    flex-direction: column;
  }
}

.page-name__title {
  color: #F26376;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  box-sizing: border-box;
  animation: tracking-in-contract-bck 3s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

@media (max-width: 375px) {
  .page-name__title {
    text-align: center;
  }
}

.page-name__list {
  text-transform: uppercase;
  color: #F26376;
}

.page-name__link {
  text-decoration: none;
  color: #9F9F9F;
}

.sales__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sales__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #211616b3;
  width: 31.6%;
  min-height: 260px;
  margin: 0 0 32px;
  padding: 20px;
  box-sizing: border-box;
  text-transform: uppercase;
}

@media (max-width: 1350px) {
  .sales__item {
    min-height: 200px;
  }
}

@media (max-width: 767px) {
  .sales__item {
    width: 31.6%;
    min-height: 167px;
    margin: 0 0 20px;
  }
}

@media (max-width: 573px) {
  .sales__item {
    width: 100%;
    min-height: 247px;
  }
}

@media (max-width: 375px) {
  .sales__item {
    margin: 0 0 32px;
  }
}

.sales__item--woman {
  background-image: url(../img/sales-woman-bkg.jpg);
  background-size: cover;
  background-position: center;
}

.sales__item--men {
  background-image: url(../img/sales-man-bkg.jpg);
  background-size: cover;
  background-position: center;
}

.sales__item--kids {
  background-image: url(../img/sales-kids-bkg.jpg);
  background-size: cover;
  background-position: center;
}

.sales__item--accesories {
  width: 100%;
  min-height: 180px;
  background-image: url(../img/sales-accessories-bkg.jpg);
  margin: 0 0 97px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1350px) {
  .sales__item--accesories {
    min-height: 150px;
  }
}

@media (max-width: 767px) {
  .sales__item--accesories {
    min-height: 116px;
    margin: 0 0 155px;
  }
}

@media (max-width: 375px) {
  .sales__item--accesories {
    margin: 0 0 64px;
  }
}

.sales__text {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

.sales__title {
  color: #F26376;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  font-style: normal;
}

@media (max-width: 1350px) {
  .sales__title {
    font-size: 20px;
    line-height: 29px;
    font-weight: 700;
    font-style: normal;
  }
}

.products {
  text-align: center;
}

.products--new-arrival {
  margin: 664px 0 98px;
  position: relative;
}

.products__title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
}

.products__text {
  color: #9F9F9F;
  margin: 0 0 48px 0;
}

@media (max-width: 767px) {
  .products__text {
    margin: 0 0 66px 0;
  }
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item {
  width: 31.6%;
  min-height: 460px;
  background-color: #F8F8F8;
  margin: 0 0 30px 0;
}

@media (max-width: 767px) {
  .products__item--none {
    display: none;
  }
}

@media (max-width: 767px) {
  .products__item {
    width: 49%;
    margin: 0 0 16px 0;
  }
}

@media (max-width: 1350px) {
  .products__item {
    min-height: 440px;
  }
}

@media (max-width: 375px) {
  .products__item {
    width: 100%;
  }
}

.products__overlay-wrp {
  position: relative;
}

.products__overlay-wrp:hover .products__overlay,
.products__overlay-wrp:hover .products__button {
  display: flex;
  align-items: center;
}

.products__overlay {
  display: none;
  background-color: #3a3838db;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.products__button {
  display: none;
  justify-content: center;
  height: 43px;
  padding: 0 16px;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1350px) {
  .products__button {
    width: 73%;
    max-width: 123px;
    padding: 0;
  }
}

.products__button:before {
  content: '';
  width: 25px;
  height: 25px;
  background-image: url(../img/ic/basket-ic.svg);
  background-size: 25px 25px;
  margin: 9px 11px 9px 0;
}

.products__wrp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.products__img {
  min-height: 254px;
  width: 100%;
}

@media (max-width: 1350px) {
  .products__img {
    min-height: 200px;
  }
}

.products__heading {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.products__text-item {
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  padding: 15px 0;
  box-sizing: border-box;
}

.products__price {
  color: #F26376;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

.products__link {
  width: 211px;
  display: block;
  text-decoration: none;
  color: #F26376;
  border: 1px solid #F26376;
  margin: 18px auto 95px;
  padding: 14px 15px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .products__link {
    margin: 25px auto 65px;
  }
}

.products__link:hover, .products__link:focus {
  color: #FFFFFF;
  background-color: #F26376;
  box-shadow: 5px 5px 10px 2px #00000066;
  cursor: pointer;
  outline: none;
}

.products__link:active {
  background-color: #a54653;
}

.products-grid {
  text-align: center;
}

.products-grid__list {
  margin: 134px 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

@media (max-width: 767px) {
  .products-grid__list {
    margin: 81px 0 0;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
  }
}

@media (max-width: 375px) {
  .products-grid__list {
    grid-template-columns: repeat(1, 1fr);
  }
}

.products-grid__item {
  background-color: #F8F8F8;
}

@media (max-width: 767px) {
  .products-grid__item--none {
    display: none;
  }
}

.products-grid__overlay-wrp {
  position: relative;
}

.products-grid__overlay-wrp:hover .products-grid__overlay,
.products-grid__overlay-wrp:hover .products-grid__button {
  display: flex;
  align-items: center;
}

.products-grid__overlay {
  display: none;
  background-color: #3a3838db;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.products-grid__button {
  display: none;
  justify-content: center;
  height: 43px;
  padding: 0 16px;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1350px) {
  .products-grid__button {
    width: 73%;
    max-width: 123px;
    padding: 0;
  }
}

.products-grid__button:before {
  content: '';
  width: 25px;
  height: 25px;
  background-image: url(../img/ic/basket-ic.svg);
  background-size: 25px 25px;
  margin: 9px 11px 9px 0;
}

.products-grid__wrp {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.products-grid__img {
  width: 100%;
}

.products-grid__heading {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
}

.products-grid__text-item {
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  color: #5D5D5D;
  padding: 15px 0;
  box-sizing: border-box;
}

.products-grid__price {
  color: #F26376;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

.description {
  text-align: center;
  border: 1px solid #E1E1E1;
  position: absolute;
  top: -710px;
  background-color: #FFFFFF;
}

@media (max-width: 573px) {
  .description {
    top: -690px;
  }
}

.description__wrp {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .description__wrp {
    width: 72%;
  }
}

.description__text {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  margin: 48px 0 32px;
}

.description__text--chapter {
  margin: 64px 0 0;
  text-transform: uppercase;
  color: #F26376;
  position: relative;
}

.description__text--chapter::after {
  content: "";
  position: absolute;
  background-color: #F26376;
  top: 29px;
  left: 45%;
  right: 45%;
  bottom: -15px;
}

@media (max-width: 1350px) {
  .description__text--chapter::after {
    left: 35%;
    right: 35%;
  }
}

.description__title {
  margin: 27px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

.description__price {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 65px;
  color: #F26376;
}

@media (max-width: 375px) {
  .description__price {
    margin: 0 0 30px;
  }
}

.description__button {
  max-width: 211px;
  display: block;
  text-decoration: none;
  color: #F26376;
  border: 1px solid #F26376;
  background: transparent;
  margin: 49px auto 65px;
  padding: 14px 15px;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .description__button {
    margin: 25px auto 65px;
  }
}

.description__button:hover, .description__button:focus {
  color: #FFFFFF;
  background-color: #F26376;
  box-shadow: 5px 5px 10px 2px #00000066;
  cursor: pointer;
  outline: none;
}

.cart {
  margin: 96px 0 128px;
  width: 57.2%;
  max-width: 900px;
}

@media (max-width: 1350px) {
  .cart {
    margin: 59px 0 64px;
    width: 100%;
  }
}

.cart__flex {
  display: flex;
  box-shadow: 17px 19px 24px #00000066;
  margin: 0 0 40px;
  position: relative;
}

.cart__img {
  width: 40.2%;
  max-width: 262px;
}

.cart__close {
  top: 10px;
  right: 7px;
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  position: absolute;
  background-image: url(../img/ic/close-ic.svg);
  background-size: 100%;
}

.cart__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin: 22px 26px 42px 0;
}

@media (max-width: 450px) {
  .cart__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    margin: 14px 26px 25px 0;
  }
}

.cart__item {
  margin: 0 0 6px 31px;
}

@media (max-width: 450px) {
  .cart__item {
    margin: 0 0 4px 17px;
  }
}

.cart__text {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  font-style: normal;
  color: #5D5D5D;
}

@media (max-width: 450px) {
  .cart__text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: normal;
  }
}

.cart__text--price::after {
  content: "$300";
  color: #F26376;
}

.cart__text--color::after {
  content: "Red";
}

.cart__text--size::after {
  content: "Xl";
}

.cart__text--quantity::after {
  content: "2";
  margin: 0 0 0 20px;
  padding: 0 15px;
  border: 1px solid #E1E1E1;
}

.cart__wrp {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1350px) {
  .cart__wrp {
    justify-content: space-around;
  }
}

.cart__button {
  color: #9F9F9F;
  padding: 17px 40px;
  border: 1px solid #E1E1E1;
  background-color: transparent;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin: 32px 0 0;
  outline: none;
}

@media (max-width: 573px) {
  .cart__button {
    padding: 17px 15px;
  }
}

@media (max-width: 450px) {
  .cart__button {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    font-style: normal;
  }
}

@media (max-width: 375px) {
  .cart__button {
    padding: 9px 4px;
  }
}

.cart__button:hover, .cart__button:focus {
  color: #FFFFFF;
  background-color: #F26376;
  box-shadow: 5px 5px 10px 2px #00000066;
  cursor: pointer;
  border: none;
}

.order {
  width: 31.6%;
  margin: 96px 0 57px;
}

@media (max-width: 1350px) {
  .order {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 128px;
  }
}

@media (max-width: 573px) {
  .order {
    flex-direction: column;
    margin: 0 0 96px;
  }
}

@media (max-width: 1350px) {
  .order__form {
    width: 48.9%;
  }
}

@media (max-width: 573px) {
  .order__form {
    width: 100%;
  }
}

.order__fieldset {
  display: flex;
  flex-direction: column;
  margin: 0 0 57px;
}

@media (max-width: 1350px) {
  .order__fieldset {
    margin: 0;
  }
}

.order__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

.order__input {
  height: 45px;
  margin: 10px 0;
  padding: 0 16px;
}

.order__button {
  color: #9F9F9F;
  max-width: 100px;
  padding: 10px 10px;
  border: 1px solid #E1E1E1;
  background-color: transparent;
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
  margin: 10px 0 0;
  outline: none;
}

@media (max-width: 573px) {
  .order__button {
    margin: 10px 0 48px;
  }
}

.order__button:hover, .order__button:focus {
  color: #FFFFFF;
  background-color: #F26376;
  box-shadow: 5px 5px 10px 2px #00000066;
  cursor: pointer;
  border: none;
}

.order__wrp {
  text-align: right;
  background-color: #F8F8F8;
  padding: 39px 44px 42px;
  box-sizing: border-box;
  text-transform: uppercase;
}

@media (max-width: 1350px) {
  .order__wrp {
    width: 48.9%;
    max-height: 250px;
  }
}

@media (max-width: 573px) {
  .order__wrp {
    width: 100%;
  }
}

.order__text {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  font-style: normal;
}

.order__text::after {
  content: "$900";
  margin: 0 0 0 20px;
}

.order__title-total {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  margin: 12px 0 21px;
}

.order__title-total::after {
  content: "$900";
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  font-style: normal;
  color: #F26376;
  margin: 0 0 0 20px;
}

.order__link {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  max-width: 273px;
  display: block;
  text-decoration: none;
  color: #F26376;
  border: 1px solid #F26376;
  margin: 17px auto 0;
  padding: 15px 10px;
  box-sizing: border-box;
}

.order__link:hover, .order__link:focus {
  color: #FFFFFF;
  background-color: #F26376;
  box-shadow: 5px 5px 10px 2px #00000066;
  cursor: pointer;
  outline: none;
}

.registration {
  display: flex;
  justify-content: space-between;
  margin: 64px 0 96px;
}

@media (max-width: 767px) {
  .registration {
    margin: 40px 0 96px;
  }
}

@media (max-width: 450px) {
  .registration {
    flex-direction: column;
  }
}

.registration__form {
  width: 31.6%;
}

@media (max-width: 767px) {
  .registration__form {
    width: 100%;
    margin: 0 22px 0 0;
  }
}

.registration__fieldset {
  display: flex;
  flex-direction: column;
}

.registration__legend {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  font-style: normal;
  margin: 0 0 10px;
}

.registration__input {
  margin: 10px 0;
  height: 45px;
  padding: 0 17px;
}

.registration__radio {
  margin: 20px 0 32px;
}

.registration__input-radio {
  margin: 0 10px 0 20px;
}

.registration__text-form {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  font-style: normal;
  opacity: 0.4;
  margin: 0 0 39px;
}

.registration__button {
  padding: 16px 0 16px 29px;
  height: 49px;
  background-color: #F26376;
  color: #FFFFFF;
  border: none;
  text-transform: uppercase;
}

@media (max-width: 450px) {
  .registration__button {
    margin: 0 0 40px;
  }
}

.registration__button:active {
  background-color: #a54653;
}

.registration__button:hover, .registration__button:focus {
  box-shadow: 5px 5px 10px 2px #00000066;
  cursor: pointer;
  outline: none;
}

.registration__button::after {
  content: url(../img/ic/arrow-ic.svg);
  margin: 0 20px 0;
}

.registration__wrp {
  width: 57.2%;
}

@media (max-width: 767px) {
  .registration__wrp {
    width: 100%;
  }
}

.registration__title {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  .registration__title {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.registration__text {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
  margin: 22px 0;
}

@media (max-width: 767px) {
  .registration__text {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
    margin: 32px 0 22px;
  }
}

.registration__item {
  display: flex;
  margin: 16px 0;
}

.registration__item:before {
  content: url(../img/ic/check-ic.svg);
  margin: 0 23px 0 0;
}

.registration__text-sub {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  font-style: normal;
}

@media (max-width: 767px) {
  .registration__text-sub {
    font-size: 16px;
    line-height: 19px;
    font-weight: 300;
    font-style: normal;
  }
}

.advantages {
  background-color: #222222;
  padding: 103px 0;
}

@media (max-width: 767px) {
  .advantages {
    padding: 48px 0 64px;
  }
}

@media (max-width: 375px) {
  .advantages {
    padding: 48px 0 81px;
  }
}

.advantages__list {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .advantages__list {
    flex-direction: column;
    align-items: center;
  }
}

.advantages__item {
  max-width: 360px;
  padding: 0 10px;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .advantages__item {
    margin: 24px 0;
  }
}

.advantages__img {
  height: 35px;
}

.advantages__title {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  margin: 28px 0 16px;
}

.advantages__text {
  color: #9F9F9F;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  font-style: normal;
}

.footer {
  background-color: #222222;
}

.footer__bkg-img {
  background-color: #F1E4E6;
  background-image: url(../img/section-forma-bg.jpg);
  background-size: cover;
}

.footer__wrp-feedback {
  min-height: 448px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .footer__wrp-feedback {
    flex-direction: column;
    min-height: 693px;
    padding: 64px 0 140px;
    box-sizing: border-box;
  }
}

@media (max-width: 375px) {
  .footer__wrp-feedback {
    min-height: 550px;
    padding: 64px 0 109px;
  }
}

.footer__feedback {
  max-width: 360px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 767px) {
  .footer__feedback {
    padding: 0;
  }
}

@media (max-width: 375px) {
  .footer__feedback {
    width: 100%;
  }
}

.footer__text {
  margin: 30px 0 0;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
}

.footer__form-subscribe {
  max-width: 557px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 375px) {
  .footer__form-subscribe {
    width: 100%;
  }
}

.footer__title {
  font-size: 24px;
  line-height: 38px;
  font-weight: 700;
  font-style: normal;
}

.footer__text-sub {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 32px;
}

@media (max-width: 767px) {
  .footer__text-sub {
    margin: 0 0 27px;
  }
}

@media (max-width: 375px) {
  .footer__text-sub {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
    margin: 0 0 22px;
  }
}

.footer__flex {
  display: flex;
  justify-content: center;
}

.footer__input {
  padding: 0 22px 0;
  height: 49px;
  background-color: #E1E1E1;
  border: none;
  border-radius: 25px 0 0 25px;
}

@media (max-width: 375px) {
  .footer__input {
    padding: 0 12px 0;
  }
}

.footer__button {
  padding: 0 22px 0;
  height: 49px;
  background-color: #F26376;
  color: #FFFFFF;
  border: none;
  border-radius: 0 25px 25px 0;
}

@media (max-width: 375px) {
  .footer__button {
    padding: 0 12px 0;
  }
}

.footer__button:hover, .footer__button:focus {
  box-shadow: 5px 5px 10px 2px #00000066;
  cursor: pointer;
  outline: none;
}

.footer__button:active {
  background-color: #a54653;
}

.footer__wrp-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 79px;
}

@media (max-width: 450px) {
  .footer__wrp-copyright {
    flex-direction: column-reverse;
    padding: 43px 0 9px;
  }
}

.footer__list {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  color: #FFFFFF;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  font-style: normal;
}

.footer__item {
  margin: 0 0 0 8px;
}
/*# sourceMappingURL=style.css.map */